* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main .section-1 {
    height: 110vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1712415194711-e71f68c368a6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

}


.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    background: rgba(173, 115, 173, 0.5);
    /* display: none; */

}

.navbar .left-nav {
    height: 100%;
    width: 20%;
    align-items: center;
    display: flex;
    gap: 26px;
}

.navbar .logo {
    height: 80px;
    width: 120px;

    background: antiquewhite;
    transition: transform 0.2s;
    cursor: pointer;

}

.logo:hover {
    transform: scale(1.5);
}

.navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.navbar .left-nav .web-name {
    font-size: xx-large;
}


.navbar .middle-nav {
    height: 100%;
    width: 40%;
    align-items: center;
    background: rgba(110, 54, 110, 0.7);
    margin-left: 5%;
    padding-left: 1%;
    padding-top: 2%;

}

.middle-nav ul,
li {
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 22Px;


}

.nav-home {
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-home:hover {
    transform: scale(1.5);
}

.nav-courses {
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-courses:hover {
    transform: scale(1.5);
}

.nav-about {
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-about:hover {
    transform: scale(1.5);
}

.nav-contact {
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-contact:hover {
    transform: scale(1.5);
}

.right-nav {
    height: 100%;
    width: 40%;
    align-content: center;
    padding-left: 60px;
    display: flex;
    flex-direction: row;

}

.right-nav .login-side {
    width: 40%;
    height: 100%;
    font-size: 25px;
    padding-top: 22px;
}

/*  */
.right-nav .social {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.right-nav .social .s-1 {
    width:14%;
    height: 50%;
    /* background: #b9ae09; */
    border-radius: 100%;
    background-image: url('https://images.unsplash.com/photo-1611944212129-29977ae1398c?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;

    background-size: cover;
}

.right-nav .social .s-2 {
    width: 14%;
    height: 50%;
    background: #11c455;
    border-radius: 100%;
    background-image: url('https://images.unsplash.com/photo-1611262588024-d12430b98920?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

.right-nav .social .s-3 {
    width: 14%;
    height: 50%;
    background: #cf8008;
    border-radius: 100%;
    background-image: url('https://seeklogo.com/images/Q/quora-logo-9BC9099190-seeklogo.com.png');
    background-position: center;
    background-size: cover;
}

.right-nav .social .s-4 {
    width: 20%;
    height: 65%;
    background: #e21224;
    border-radius: 14%;
    background-image: url('https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;

    background-size: cover;
}
@media screen and (min-width:320px) and (max-width:767px) {
    .section-1 .sec-content{
        height: 50vh;
        width: 70vw;
        /* background: #c92020; */
       
      display: flex;
      flex-direction: row; 
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        margin: 8px 2px;
       
     } 
    }
    
   

  
  h2{
    text-align: center;
  }

  
  .section-1 .sec-content .box-1{
    height: 100%;
    width: 90%;
    padding: 10px 10px 10px 40px;
    background: rgba(173, 141, 141, 0.493);


  }



  .section-1 .sec-content .box-2{
    height: 100%;
    width: 90%;
    padding: 10px 10px 10px 40px;
    background: rgba(173, 141, 141, 0.493);

  }
  .section-1 .sec-content .box-3{
    height: 100%;
    width: 90%;
    padding: 10px 10px 10px 40px;
    background: rgba(173, 141, 141, 0.493);

  }

.main .section-2 {
    height: 100vh;
    width: 100%;
    background: #863fa7f5;
    display: flex;
    flex-direction: row;
}


.main .section-2 img{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}