* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(173, 115, 173, 0.5);


}

.main .section-1 {
    height: 140vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1712415194711-e71f68c368a6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    background: #000;
    /* padding: 70px 0; */


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .main .section-1 {
        height: 140vh;
        /* max-height: 100%; */
        width: 100%;
        background-image: url('https://images.unsplash.com/photo-1712415194711-e71f68c368a6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }
}


.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    background: rgba(173, 115, 173, 0.5);


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        width: 100vw;
        height: 10vh;
        display: flex;



    }

    .navbar .left-nav {
        height: 100%;
        width: 20%;

    }

    .navbar .logo {
        height: 80px;
        width: 120px;
        padding-left: 10vh;

        transition: transform 0.2s;
        cursor: pointer;


    }

    .navbar .middle-nav {
        height: 100%;
        width: 40%;
        display: none;

    }

    .navbar .right-nav {
        height: 100%;
        width: 40%;
        display: none;

    }

}

.navbar .left-nav {
    height: 100%;
    width: 20%;
    align-items: center;
    display: flex;
    gap: 26px;
}

.navbar .logo {
    height: 80px;
    width: 120px;

    background: antiquewhite;
    transition: transform 0.2s;
    cursor: pointer;

}

.logo:hover {
    transform: scale(1.5);
}

.navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.navbar .left-nav .web-name {
    font-size: xx-large;
}


.navbar .middle-nav {
    height: 100%;
    width: 40%;
    align-items: center;
    background: rgba(110, 54, 110, 0.7);
    margin-left: 5%;
    padding-left: 1%;
    padding-top: 2%;

}

.middle-nav ul,
li {
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 22Px;


}

.nav-home {
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-home:hover {
    transform: scale(1.5);
}

.nav-courses {
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-courses:hover {
    transform: scale(1.5);
}

.nav-about {
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-about:hover {
    transform: scale(1.5);
}

.nav-contact {
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-contact:hover {
    transform: scale(1.5);
}

.right-nav {
    height: 100%;
    width: 40%;
    align-content: center;
    padding-left: 60px;
    display: flex;
    flex-direction: row;

}

.right-nav .login-side {
    width: 40%;
    height: 100%;
    font-size: 25px;
    padding-top: 22px;
}


.right-nav .social {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.right-nav .social .s-1 {
    width: 14%;
    height: 50%;
    /* background: #b9ae09; */
    border-radius: 100%;
    background-image: url('https://images.unsplash.com/photo-1611944212129-29977ae1398c?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;

    background-size: cover;
}

.right-nav .social .s-2 {
    width: 14%;
    height: 50%;
    background: #11c455;
    border-radius: 100%;
    background-image: url('https://images.unsplash.com/photo-1611262588024-d12430b98920?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

.right-nav .social .s-3 {
    width: 14%;
    height: 50%;
    background: #cf8008;
    border-radius: 100%;
   
    background-position: center;
    background-size: cover;
}

.right-nav .social .s-4 {
    width: 20%;
    height: 65%;
    background: #e21224;
    border-radius: 14%;
    background-image: url('https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;


    background-size: cover;
}

.section-1  .content-1{
    margin-left: 10%;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    /* background: #f0bfbf; */
    gap: 170px;
}

.section-1 .content-1 .sec-content-1 {
   
    height: 40vh;
    width: 80vw;
 

    display: flex;
    flex-direction: row;
    padding: 120px 100px;
    gap: 20px;
    

}

@media only screen and (min-width: 804px) {
    .section-1  .content-1 .sec-content-1 {

        height: 100vh;
        width: 80vw;

        display: flex;
        flex-direction: column;
        margin-left: -20px;
        gap: 30px;



    }

    .section-1 .content-1 .sec-content-2 {
        height: 100vh;
        width: 80vw;

        display: flex;
        flex-direction: column;
        margin-left: -20px;
        gap: 30px;



    }
}



h2 {
    text-align: center;
}


.section-1 .sec-content-1 .box-1 {
    height: 50vh;
    width: 60%;
    background: rgba(173, 141, 141, 0.493);
    padding: 10px 10px 10px 40px;
    border: 2px solid rgba(204, 224, 221, 0.733);
    margin-left: 20%;

}

.section-1 .sec-content-1 .box-1 .k-m{
   height: 20px;
   width: 100px;
   /* display: inline-block; */
   padding: 10px 20px ;

   color: #fff;
   text-decoration: none; 
  border: none; 
  border-radius: 5px;
  font-size: 20px; 
  cursor: pointer;
  margin-left: 170px;
  background-color: rgba(118, 97, 158, 0.568);
  
}

.section-1 .sec-content-1 .box-2 {
    height: 50vh;
    width: 60%;
    padding: 10px 10px 10px 40px;
    background: rgba(173, 141, 141, 0.493);
    margin-left: 20%;
    border: 2px solid rgba(204, 224, 221, 0.733);

}

.section-1 .sec-content-1 .box-2 .k-m{
    height: 20px;
    width: 100px;
    /* display: inline-block; */
    padding: 10px 20px ;
 
    color: #fff;
    text-decoration: none; 
   border: none; 
   border-radius: 5px;
   font-size: 20px; 
   cursor: pointer;
   margin-left: 170px;
   background-color: rgba(118, 97, 158, 0.568);
   
 }
.section-1 .sec-content-1 .box-3 {
    height: 50vh;
    width: 60%;
    padding: 10px 10px 10px 40px;
    background: rgba(173, 141, 141, 0.493);
    margin-left: 20%;
    border: 2px solid rgba(204, 224, 221, 0.733);

}

.section-1 .sec-content-1 .box-3 .k-m{
    height: 20px;
    width: 100px;
    /* display: inline-block; */
    padding: 10px 20px ;
 
    color: #fff;
    text-decoration: none; 
   border: none; 
   border-radius: 5px;
   font-size: 20px; 
   cursor: pointer;
   margin-left: 170px;
   background-color: rgba(118, 97, 158, 0.568);
   
 }

.section-1 .sec-content-2 {
    margin-left: 182px;
    margin-top: 10px;
    height: 50vh;
    width: 70vw;
    /* background: #c92020; */

    display: flex;
    flex-direction: row;
    padding: 120px 100px;
    gap: 20px;


}

@media only screen and (max-width: 412px) {
    .section-1 .sec-content-2 {

        margin-top: 0 10px;
        height: 50vh;
        width: 70vw;
        /* background: #c92020; */

        display: flex;
        flex-direction: column;
        padding: 120px 100px;
        gap: 20px;


    }

}

.section-1 .sec-content-2 .box-4 {
    height: 50vh;
    width: 60%;
    padding: 10px 10px 10px 40px;
    background: rgba(173, 141, 141, 0.493);
    margin-left: 20%;
    border: 2px solid rgba(204, 224, 221, 0.733);
}

.section-1 .sec-content-2 .box-4 .k-m{
    height: 20px;
    width: 100px;
    /* display: inline-block; */
    padding: 10px 20px ;
 
    color: #fff;
    text-decoration: none; 
   border: none; 
   border-radius: 5px;
   font-size: 20px; 
   cursor: pointer;
   margin-left: 170px;
   background-color: rgba(118, 97, 158, 0.568);
   
 }

.section-1 .sec-content-2 .box-5 {
    height: 50vh;
    width: 60%;
    padding: 10px 10px 10px 40px;
    background: rgba(173, 141, 141, 0.493);
    margin-left: 20%;
    border: 2px solid rgba(204, 224, 221, 0.733);
}

.section-1 .sec-content-2 .box-5 .k-m{
    height: 20px;
    width: 100px;
    /* display: inline-block; */
    padding: 10px 20px ;
 
    color: #fff;
    text-decoration: none; 
   border: none; 
   border-radius: 5px;
   font-size: 20px; 
   cursor: pointer;
   margin-left: 170px;
   background-color: rgba(118, 97, 158, 0.568);
   
 }

.section-1 .sec-content-2 .box-6 {
    height: 50vh;
    width: 60%;
    padding: 10px 10px 10px 40px;
    background: rgba(173, 141, 141, 0.493);
    margin-left: 20%;
    border: 2px solid rgba(204, 224, 221, 0.733);
}

.section-1 .sec-content-2 .box-6 .k-m{
    height: 20px;
    width: 100px;
    /* display: inline-block; */
    padding: 10px 20px ;
 
    color: #fff;
    text-decoration: none; 
   border: none; 
   border-radius: 5px;
   font-size: 20px; 
   cursor: pointer;
   margin-left: 170px;
   background-color: rgba(118, 97, 158, 0.568);
   
 }

.main .section-2 {

    height: 100vh;
    width: 100%;
    background: #a7713ff5;
    display: flex;
    flex-direction: row;
    background-image: url('https://images.unsplash.com/photo-1531857414472-edf16a1bb78c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.main .section-2 img {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.main .section-3 {

    height: 100vh;
    width: 100%;
    background: #a7713ff5;
    display: flex;
    flex-direction: row;
    background-image: url('https://images.unsplash.com/photo-1715123163355-ed55d7d2bb43?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main .section-4{
    height: 100vh;
    width: 100%;
    /* background: #8f8276f5; */
}

.main .section-4  .playback-book{
    height: 50vh;
    width: 100%;
    background: whitesmoke;
    color: #000;
}

.main .section-4  .playback-book h3{
    font-size: 2.7rem;

    font-weight: 500;
    text-align: center;

}

.main .section-4  .playback-book p{

    font-size: 1.5rem;
    margin: 1rem 0;
}


.main .section-4 .footer{
    height: 50vh;
    width: 100%;
}

.footer .col-10{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.footer .col-10 span{
    color: #fff;
    font-size: 1rem;
}

.footer .col-10 .social-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer .col-10 .social-2 i{
    font-size: 2rem;
    color: #fff;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.footer .col-10 .social-2 i:hover{
    color: #ff6600;
}